.menu {
  height: 100%;
  width: 100%;
  background-color: #0505051c;
}

.menu-transition-enter {
  opacity: 0;
}
.menu-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.menu-transition-exit {
  opacity: 1;
}
.menu-transition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
