.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .animate-top {
    transform-origin: 50% 10%;
    animation: slideDownRotate 0.4s ease-in forwards;
  }

  &__top {
    transform-origin: 50% 10%;
    transform: translateY(40%) rotate(45deg);
    animation: reverseSlideDownRotate 0.4s ease-in forwards;
  }

  .animate-middle {
    transform-origin: center;
    animation: rotate 0.4s ease-in forwards;
  }

  &__middle {
    transform: rotate(45deg);
    transform-origin: center;
    animation: ReverseRotate 0.4s ease-in forwards;
  }

  .animate-bottom {
    transform-origin: 50% 90%;
    animation: slideUpRotate 0.4s ease-in forwards;
  }

  &__bottom {
    transform: translateY(-40%) rotate(-45deg);
    transform-origin: 50% 90%;
    animation: ReverseSlideUpRotate 0.4s ease-in forwards;
  }

  &__top {
  }

  &__bottom {
  }
}

@keyframes slideDownRotate {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(40%) rotate(45deg);
  }
}

@keyframes reverseSlideDownRotate {
  0% {
    transform: translateY(40%) rotate(45deg);
  }
  25% {
    transform: translateY(40%) rotate(0deg);
  }
  50% {
    transform: translateY(40%) rotate(0deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes ReverseRotate {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slideUpRotate {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(-40%) rotate(-45deg);
  }
}

@keyframes ReverseSlideUpRotate {
  0% {
    transform: translateY(-40%) rotate(-45deg);
  }
  25% {
    transform: translateY(-40%) rotate(0deg);
  }
  50% {
    transform: translateY(-40%) rotate(0deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}
