.form {
  height: 100%;
  @include flexColumn;
  justify-content: space-between;
  border: 2px solid $placeholder-gray;
  padding: 24px 32px;
  border-radius: 6px;
  overflow-y: scroll;

  &__title {
    font-size: 28px;
    margin-bottom: 16px;
  }

  &__btn-container {
    align-self: end;
  }
}
