.neat-input {
  transition: all 0.15s linear;
  position: relative;
  border: 2px solid $cadet-blue-crayola;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 1rem;
  &:focus-within {
    border-color: $blue-green;
    .neat-input__label {
      color: $blue-green;
      transform: translateY(-30px);
    }
  }
  &__error {
    border-color: #f01c1c;
    margin-bottom: 2rem;
  }

  legend {
    margin-left: 12px;
  }

  &__label {
    transition: all 0.15s linear;
    position: absolute;
    top: 50%;
    left: 12px;
    font-size: 12px;
    transform: scale(1.2) translate(2px, -44%);
    transform-origin: left;
    padding: 0 3px;
    color: #93a2ac;
    text-align: right;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
    &--with-content {
      color: $sonic-silver;
      transform: translateY(-28px);
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    padding: 8px 12px;
    outline: none;
    border-radius: 6px;
  }

  &__error-msg {
    position: absolute;
    font-size: 14px;
    bottom: -1.5rem;
    color: #f01c1c;
  }
}
