.neat-input {
  transition: all 0.15s linear;
  position: relative;
  border: 2px solid $cadet-blue-crayola;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 14px;
  &:focus-within {
    border-color: $blue-green;
    .neat-input__label {
      color: $blue-green;
      transform: translateY(-32px);
      &::placeholder {
        font-size: inherit;
        font-family: inherit;
        color: #6e757a;
        margin-left: 102px;
      }
    }
  }
  &__error {
    border-color: #f01c1c;
    margin-bottom: 2rem;
  }

  &__with-label {
    display: inline-block;
    margin: 0 0 4px 6px;
    font-size: 16px;

    &--error {
      color: #f01c1c;
    }
  }

  legend {
    margin-left: 6px;
  }

  &__label {
    transition: all 0.15s linear;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(2px, -50%);
    transform-origin: left;
    padding: 0 3px;
    color: #6e757a;
    text-align: right;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
    &--with-content {
      color: $sonic-silver;
      transform: translateY(-32px);
    }

    &--error {
      color: #f01c1c;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    border: none;
    padding: 8px 12px;
    outline: none;
    border-radius: 6px;
    &::placeholder {
      font-size: inherit;
      font-family: inherit;
      color: #6e757a;
      margin-left: 102px;
    }
    &:disabled {
      background: #6e757a1a;
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &__error-msg {
    position: absolute;
    font-size: 14px;
    bottom: -1.5rem;
    color: #f01c1c;
  }
}
