@keyframes up {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-4px);
  }
  60% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-3px);
  }
}

@keyframes upReverse {
  from {
    transform: translateY(-3px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes down {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes downReverse {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes left {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-3px);
  }
}

@keyframes leftReverse {
  from {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes right {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(3px);
  }
}

@keyframes rightReverse {
  from {
    transform: translateX(3px);
  }
  to {
    transform: translateX(0px);
  }
}
