@import "./reset";
@import "./variables";
@import "./mixins";
@import "./animations.scss";
@import "./Switch";
@import "./Menu";
@import "./MasonryGrid";
@import "./Input";
@import "./Hamburger";
@import "./DropDownBox";
@import "./DarkModeButton";
@import "./CodeBlock";
@import "./Carousel";
@import "./Calendar";
@import "./Button";
@import "./ActionButton";
@import "./Incrementor";
@import "./ProgressRing";
@import "./ProgressBar";

.no-animation {
  animation-duration: 0s !important;
  * {
    animation-duration: 0s !important;
  }
}

.no-transition {
  transition-duration: 0s !important;
  * {
    transition-duration: 0s !important;
  }
}

.use-copy-text-msg {
  transition: all 2s ease-out 1.5s;
  opacity: 0;

  &--unhide {
    transition: all 1s ease-out;
    opacity: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}
