.calendar {
  border: 2px solid black;
  width: fit-content;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin: unset;
  }
}

.cells {
  display: grid;
  grid-template-columns: repeat(7, 50px);

  &__day {
    border: 1px solid rgb(82, 82, 82);
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 50px;

    &__date {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    &__date--out {
      position: absolute;
      top: 5px;
      right: 5px;
      color: gray;
    }
  }
}

// global reset styles? where to put them
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
}

// .icon {
//   fill: pink;
// }
