.carousel {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid red;
  width: fit-content;

  &__prev,
  &__next {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  &__next {
    right: 0;
    left: unset;
  }

  &__slide {
    width: 400px;
    height: fit-content;

    &__content {
      width: 100%;

      &--right {
        // transition: all 1000ms ease-out;
        animation: leftSlide 1000ms ease-out;
      }
      &--left {
        animation: rightSlide 1000ms ease-out;
      }
    }
  }
}

@keyframes leftSlide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rightSlide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
